TARGET_URL=https://sist79.uegar.com/
TARGET_USERNAME=
TARGET_PASSWORD=

BROWSER=chrome
ENVIRONMENT=development

SCREENSHOT_DIR=runtime/screenshots
LOG_DIR=runtime/logs

LOG_LEVEL=INFO

OPENCV_NUM_THREADS=0
OPENCV_MATCH_THRESHOLD=0.8
